.place__title {
    position: relative;
    align-items: center;
    width: 476px;
    min-height: 76px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
    margin: 0;
    
}





