.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  padding-top: 56px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .lead {
    padding-top: 48px;
  }
}
