.cover__subtitle {
  position: relative;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  max-width: 360px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 740px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 265px;
  }
}
