.header {
    display: grid;
    grid-template-columns: 176px 60px;
    gap: 900px;
    justify-content: center;
    align-items: end;
    justify-items: center;
    min-height: 42px;
    max-height: 52px;
    padding: 0;
    margin: 0;
}