.cover {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    margin: auto;
     box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}


@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
    .cover {
        max-width: 100%;
    }
}



 


