.place__website {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: 456px;
  max-height: 51px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}
